variables:
  - group: 'jellyfin'

trigger:
  batch: true
  branches:
    include:
      - master
      - release*
  tags:
    include:
      - '*'

pr:
  branches:
    include:
      - '*'

jobs:
  - job: Test
    displayName: 'Test'

    pool:
      vmImage: 'ubuntu-latest'

    steps:
      - task: Gradle@2
        displayName: 'Run Tests'
        inputs:
          gradleWrapperFile: 'gradlew'
          tasks: 'test'
          publishJUnitResults: true
          testResultsFiles: '**/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          sonarQubeRunAnalysis: false

  - job: Build
    displayName: 'Build'

    pool:
      vmImage: 'ubuntu-latest'

    steps:
      - task: Gradle@2
        displayName: 'Build Debug'
        inputs:
          gradleWrapperFile: 'gradlew'
          tasks: 'assembleDebug'
          publishJUnitResults: false
          testResultsFiles: '**/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          sonarQubeRunAnalysis: false

      - task: Gradle@2
        displayName: 'Build Release'
        inputs:
          gradleWrapperFile: 'gradlew'
          tasks: 'assembleRelease'
          publishJUnitResults: false
          testResultsFiles: '**/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          sonarQubeRunAnalysis: false

      - task: CopyFiles@2
        displayName: 'Copy APKs'
        inputs:
          SourceFolder: 'app/build/outputs/apk/'
          Contents: '**/*.apk'
          TargetFolder: '$(Build.ArtifactStagingDirectory)'
          flattenFolders: true

      - task: PublishBuildArtifacts@1
        displayName: 'Publish APKs'
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'jellyfin-android'
          publishLocation: 'Container'

  - job: Publish
    displayName: 'Publish'

    dependsOn: Build
    condition: startsWith(variables['Build.SourceBranch'], 'refs/tags')

    pool:
      vmImage: 'ubuntu-latest'

    steps:
      - script: 'echo "##vso[task.setvariable variable=TAG]$(git describe --tags)"'
        displayName: 'Set Tag Variable'

      - task: DownloadPipelineArtifact@2
        displayName: 'Download APKs'
        inputs:
          source: 'current'
          artifact: 'jellyfin-android'
          path: '$(System.ArtifactsDirectory)'
          runVersion: 'latest'

      - task: DownloadSecureFile@1
        displayName: 'Download KeyStore'
        name: 'KeyStore'
        inputs:
          secureFile: 'keystore'

      - script: '$(find / -name apksigner -print -quit) sign --ks ${KEYSTORE_SECUREFILEPATH} --ks-pass pass:${PASSWORD} --out ${SYSTEM_ARTIFACTSDIRECTORY}/jellyfin-android-${TAG}-release.apk ${SYSTEM_ARTIFACTSDIRECTORY}/jellyfin-android-${TAG}-release-unsigned.apk'
        displayName: 'Sign Release APK'
        env:
          PASSWORD: $(KeyStorePassword)

      - task: DeleteFiles@1
        displayName: 'Remove Unsigned APK'
        inputs:
          sourceFolder: '$(System.ArtifactsDirectory)'
          contents: 'jellyfin-android-${TAG}-release-unsigned.apk'

      - task: GithubRelease@0
        displayName: 'GitHub Upload'
        inputs:
          gitHubConnection: Jellyfin Release Download
          repositoryName: jellyfin/jellyfin-android
          assets: '$(System.ArtifactsDirectory)/*.apk'
          action: 'edit'
          assetUploadMode: 'replace'
          tag: '$(TAG)'

      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: repository
          sourceFolder: '$(System.ArtifactsDirectory)'
          contents: '**'
          targetFolder: '/srv/repository/releases/client/android/versions/$(TAG)'

      - task: SSH@0
        inputs:
          sshEndpoint: repository
          runOptions: 'inline'
          inline: 'cd /srv/repository/releases/client/android && rm -rf *.apk && ln -s versions/$(TAG)/jellyfin-android-$(TAG)-*.apk .'