name: App Lint

on:
  push:
    branches:
      - master
      - release-*
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Setup Java
        uses: actions/setup-java@860f60056505705214d223b91ed7a30f173f6142 # tag=v3
        with:
          distribution: temurin
          java-version: 11
          cache: gradle
      - name: Run detekt and lint tasks
        run: ./gradlew --build-cache --no-daemon --info detekt lint
      - name: Upload SARIF files
        uses: github/codeql-action/upload-sarif@41a4ada31ba866a7f1196b9602703a89edd69e22 # tag=v2
        if: ${{ always() }}
        with:
          sarif_file: .
