name: App Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: gradle
      - name: Assemble debug APKs
        run: ./gradlew --no-daemon --info assembleDebug
      - name: Split APK release types
        run: |
          mkdir -p build/jellyfin-publish
          mv app/build/outputs/apk/*/*/jellyfin-android-*-libre-debug.apk build/jellyfin-publish/
          mv app/build/outputs/apk/*/*/jellyfin-android-*-proprietary-debug.apk build/jellyfin-publish/
      - uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          retention-days: 14
          if-no-files-found: error
          path: build/jellyfin-publish
