name: App Lint

on:
  push:
    branches:
      - master
      - release-*
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Setup Java
        uses: actions/setup-java@d854b6da19cdadd9a010605529e522c2393ebd38 # tag=v3
        with:
          distribution: temurin
          java-version: 11
          cache: gradle
      - name: Run detekt and lint tasks
        run: ./gradlew --build-cache --no-daemon --info detekt lint
      - name: Upload SARIF files
        uses: github/codeql-action/upload-sarif@6a38b7d4a1af70deb1b561eb77db2b5e5a6a1e69 # tag=v2
        if: ${{ always() }}
        with:
          sarif_file: .
