name: App Test

on:
  push:
    branches:
      - master
      - release-*
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
          cache: gradle
      - name: Run test and assemble tasks
        run: ./gradlew --no-daemon --build-cache test
